@import 'shared/shared';

.Page {
  padding: 0 0 0 300px;
}

.Page__inner {
  padding: 30px;
}

.Page__title {
  font-size: rem-calc(40px);
}

.Page__inner--about {
  background-color: $c-white;
}

.Page__inner--home {
  background-color: red;
}

.Page__inner--user {
  background-color: blue;
}
