@import 'shared/shared';

.TodoList {
  display: block;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 30px 60px;
}

.TodoList__item {
  list-style: disc;
  list-style-position: inside;
  font-family: $ff-source-serif;
  font-size: rem-calc(18px);
}
