{
  "presets": [
    ["env", {"modules": false}], // webpack understands the native import syntax and uses it for tree shaking
    "react" // transpile React components to JavaScript
  ],
  "env": {
    "dev": {
    },
    "prod": {
    }
  }
}
