// Sass variable prefixes:
// c = color
// ff = font-family

// Colors (named with http://chir.ag/projects/name-that-color/#6195ED)
$c-white:                                           #fff;
$c-black:                                           #000;
$c-seashell:                                        #f1f1f1;

// Font families
$ff-source-sans:                                    'Source Sans Pro', sans-serif;
$ff-source-serif:                                   'Source Serif Pro', serif;
